<div style="width:100%;background-color:pink;">
  <div class="container pt-3 pb-3 bg-light" style="width:100%;">
    <p class="h1">Espace Admin</p>
    <div class="alert alert-warning" role="alert">
      Juste pour rappel, tu ecris le <b>titre</b> en <b>Heading 1</b> et
      le <b>sous-titre</b> (qui accompagne ton titre) en <b>Heading 2</b>.
      <i>Tu ne mets qu'un seul Heading 1.</i>
    </div>

    <form [formGroup]="editorForm" (ngSubmit)="onSubmit()">

      <quill-editor #editor formControlName="editor"
      [modules]="modules"
      [styles]="editorStyle">
      </quill-editor>

      <br>

      <button class="btn btn-primary" type="submit">Valider</button>
    </form>

    <br>

    <button class="btn text-light" type="button" (click)="aBesoinInspi()">+</button>

    <div *ngIf="aBesoin == true">
      <p>Tiens si tu n'as plus d'inspi </p>
      <img src="assets/img/waifu.jpg" alt="waifu"/>
      <img src="assets/img/tel.jpeg" alt="baise"/>
      <img src="assets/img/ok.jpg" alt="sein"/>
    </div>
    <br>
  </div>
</div>
